
<%= render "nav/home_nav" %>

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h2 class="breadcrumb-title">Blog Update</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->







            <!--====================  Blog Area Start ====================-->
            <div class="blog-pages-wrapper section-space--ptb_100">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 order-lg-2 order-2">
                            <div class="page-sidebar-content-wrapper page-sidebar-right small-mt__40 tablet-mt__40">

                                <!--=== Sidebar Widget Start ===-->
                                <div class="sidebar-widget search-post wow move-up">
                                    <div class="widget-title">
                                        <h4 class="sidebar-widget-title">Search</h4>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="widget-search">
                                            <input type="text" placeholder="Enter search keyword…">

                                            <button type="submit" class="search-submit">
                                                <span class="search-btn-icon fa fa-search"></span>
                                            </button>

                                        </div>
                                    </form>
                                </div>
                                <!--=== Sidebar Widget End ===-->


                                <!-- === Sidebar Widget Start === -->
                                <div class="sidebar-widget widget-blog-recent-post wow move-up">

                                    <h4 class="sidebar-widget-title">Recent Posts</h4>

                                    <ul>
                                        <li>
                                            <a href="#">Ideas for High Returns on Investment</a>
                                        </li>
                                        <li>
                                            <a href="#">How Technology Made Businesses More Efficient</a>
                                        </li>
                                        <li>
                                            <a href="#">Data Secure on Transitioning to a New Office</a>
                                        </li>
                                        <li>
                                            <a href="#">The Keys to Persuading Customers Nowadays</a>
                                        </li>
                                        <li>
                                            <a href="#">Blockchain Technology Effects on Logistics Sector?</a>
                                        </li>
                                    </ul>

                                </div>
                                <!-- === Sidebar Widget End === -->

                                <!-- === Sidebar Widget Start === -->
                                <div class="sidebar-widget widget-images wow move-up">

                                    <%= image_tag "blog/blog-sidebar-ads.jpg", class: "img-fluid" %>

                                </div>
                                <!-- === Sidebar Widget End === -->

                                <!-- === Sidebar Widget Start === -->
                                <div class="sidebar-widget widget-tag wow move-up">
                                    <h4 class="sidebar-widget-title">Tags</h4>
                                    <a href="#" class="ht-btn ht-btn-xs">business</a>
                                    <a href="#" class="ht-btn ht-btn-xs">featured</a>
                                    <a href="#" class="ht-btn ht-btn-xs">IT Security</a>
                                    <a href="#" class="ht-btn ht-btn-xs">IT services</a>

                                </div>
                                <!-- === Sidebar Widget End === -->
                            </div>
                        </div>
                        <div class="col-lg-8 order-lg-1 order-1">
                            <div class="main-blog-wrap">
                                <!--======= Single Blog Item Start ========-->
                                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6  mb-30 wow move-up animated" style="visibility: visible;">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item blog-grid">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail">
                                    <a href="blog-post-layout-one.html">
                                        <%= image_tag "blog/blog-01-370x230.jpg", class: "img-fluid" %>
                                    </a>
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="far fa-calendar meta-icon"></span>
                                            January 14, 2019
                                        </div>
                                    </div>

                                    <h5 class="post-title font-weight--bold">
                                        <a href="/blog/blog_single">Ideas for High Returns on Investment</a>
                                    </h5>

                                    <div class="post-excerpt mt-15">
                                        <p>Using the profit accumulator is one such way, and you should understand why it increases your chances of the profits. …</p>
                                    </div>
                                    <div class="btn-text">
                                        <a href="/blog/blog_single">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->

                        </div>

                        <div class="col-lg-6 col-md-6  mb-30 wow move-up animated" style="visibility: visible;">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item blog-grid">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail">
                                    <a href="blog-post-layout-one.html">
                                        <%= image_tag "blog/blog-08-370x230.jpg", class: 'img-fluid' %>
                                    </a>
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="far fa-calendar meta-icon"></span>
                                            February 28, 2019
                                        </div>
                                    </div>

                                    <h5 class="post-title font-weight--bold">
                                        <a href="/blog/blog_single">How Technology Made Businesses More Efficient</a>
                                    </h5>

                                    <div class="post-excerpt mt-15">
                                        <p>They play a role in making operations more seamless, bridging the gap between authorities, consumers and businesses. …</p>
                                    </div>
                                    <div class="btn-text">
                                        <a href="/blog/blog_single">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->

                        </div>

                        <div class="col-lg-6 col-md-6  mb-30 wow move-up animated" style="visibility: visible;">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item blog-grid">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail">
                                    <a href="blog-post-layout-one.html">
                                        <%= image_tag "blog/blog-07-370x230.jpg", class: "img-fluid" %>
                                    </a>
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="far fa-calendar meta-icon"></span>
                                            February 28, 2019
                                        </div>
                                    </div>

                                    <h5 class="post-title font-weight--bold">
                                        <a href="/blog/blog_single">Data Secure on Transitioning to a New Office</a>
                                    </h5>

                                    <div class="post-excerpt mt-15">
                                        <p>It is far wiser to do your own installations and ensure that all data flowing through the organization has end-to-end encryption. …</p>
                                    </div>
                                    <div class="btn-text">
                                        <a href="/blog/blog_single">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->

                        </div>

                        <div class="col-lg-6 col-md-6  mb-30 wow move-up animated" style="visibility: visible;">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item blog-grid">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail">
                                    <a href="blog-post-layout-one.html">
                                        <%= image_tag "blog/blog-07-370x230.jpg", class: "img-fluid" %>
                                    </a>
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="far fa-calendar meta-icon"></span>
                                            February 28, 2019
                                        </div>
                                    </div>

                                    <h5 class="post-title font-weight--bold">
                                        <a href="/blog/blog_single">The Keys to Persuading Customers Nowadays</a>
                                    </h5>

                                    <div class="post-excerpt mt-15">
                                        <p>It is far wiser to do your own installations and ensure that all data flowing through the organization has end-to-end encryption. …</p>
                                    </div>
                                    <div class="btn-text">
                                        <a href="/blog/blog_single">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->

                        </div>

                        <div class="col-lg-6 col-md-6  mb-30 wow move-up animated" style="visibility: visible;">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item blog-grid">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail">
                                    <a href="blog-post-layout-one.html">
                                        <%= image_tag "blog/blog-05-370x230.jpg", class: "img-fluid" %>
                                    </a>
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="far fa-calendar meta-icon"></span>
                                            February 28, 2019
                                        </div>
                                    </div>

                                    <h5 class="post-title font-weight--bold">
                                        <a href="/blog/blog_single">Blockchain Technology Effects on Logistics Sector?</a>
                                    </h5>

                                    <div class="post-excerpt mt-15">
                                        <p>Changing or adding information to the “chain” requires the authentication of everyone who is in the network. …</p>
                                    </div>
                                    <div class="btn-text">
                                        <a href="/blog/blog_single">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->

                        </div>

                        <div class="col-lg-6 col-md-6  mb-30 wow move-up animated" style="visibility: visible;">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item blog-grid">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail">
                                    <a href="blog-post-layout-one.html">
                                        <%= image_tag "blog/blog-02-370x230.jpg", class: "img-fluid" %>
                                    </a>
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="far fa-calendar meta-icon"></span>
                                            February 28, 2019
                                        </div>
                                    </div>

                                    <h5 class="post-title font-weight--bold">
                                        <a href="/blog/blog_single">How Wireless Technology is Changing Business</a>
                                    </h5>

                                    <div class="post-excerpt mt-15">
                                        <p>If there’s one way that wireless technology has changed the way we work, it’s that everyone is now connected. …</p>
                                    </div>
                                    <div class="btn-text">
                                        <a href="/blog/blog_single">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->

                        </div>


                        <div class="col-lg-12 wow move-up" style="visibility: hidden; animation-name: none;">
                            <div class="ht-pagination mt-30 pagination justify-content-center">
                                <div class="pagination-wrapper">

                                    <ul class="page-pagination">
                                        <li><a class="prev page-numbers" href="#">Prev</a></li>
                                        <li><a class="page-numbers current" href="#">1</a></li>
                                        <li><a class="page-numbers" href="#">2</a></li>
                                        <li><a class="next page-numbers" href="#">Next</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                 </div>
                        

                            
                                <!--===== Single Blog Item End =========-->
                           </div>
                    </div>
                </div>

                            <div class="ht-pagination mt-30 pagination justify-content-center">
                                <div class="pagination-wrapper">

                                    <ul class="page-pagination">
                                        <li><a class="prev page-numbers" href="#">Prev</a></li>
                                        <li><a class="page-numbers current" href="#">1</a></li>
                                        <li><a class="page-numbers" href="#">2</a></li>
                                        <li><a class="next page-numbers" href="#">Next</a></li>
                                    </ul>

                                </div>
                            </div>

            </div>
            <!--====================  Blog Area End  ====================-->



<%= render "nav/home_footer" %>