<!DOCTYPE html>
<html>
  <head>
    <title>Techy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <%=favicon_link_tag asset_path('favicon.png' ) %>
  </head>

  <body>

    <%= render "nav/home_nav" %>

    <%= yield %>

    <%= render "nav/home_footer" %>


   <script>
      
   </script>
  </body>
</html>
